* {
    margin: 0;
}

.background {
    background-image: url("../images/background.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 50%;
}

.text {
    color: white;
}

.text-name {
    font-family: 'Bungee', cursive;
    font-size: 30px;
    line-height: 100%;

}

.text-title {
    font-family: 'Aldrich', sans-serif;
    font-size: 100px;
    font-weight: normal;
    line-height: 90%;
    margin: 40px 0;
}