<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spotify Playlist Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bungee&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="container">
  <h3 class="color-white text-name">stevelukis.dev</h3>
  <h1 class="color-white text-title">Let AI creates your Spotify playlist</h1>
  <form class="form-query">
    <input>
    <button>Generate</button>
  </form>
</div>
</body>
</html>