<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spotify Playlist Generator</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Bungee&display=swap" rel="stylesheet">
</head>
<body>
  <div class="background">
    <div class="text-container">
      <h3 class="text text-name">stevelukis.dev</h3>
      <h1 class="text text-title">Let AI create your Spotify playlist</h1>
      <form>
        <input>
        <button>Generate</button>
      </form>
    </div>
  </div>
</body>
</html>